In [6]:
import pandas as pd

In [9]:
df[df.sex=='Male']

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778
12   AsstProf          B    1        0  Male   88000
13       Prof          B   35       33  Male  162200
14       Prof          B   25       19  Male  153750
15       Prof          B   17        3  Male  150480
16   AsstProf          B    8        3  Male   75044
17   AsstProf          B    4        0  Male   92000
18       Prof          A   19        7  Male  107300
19       Prof          A   29       27  Male  150500
20   AsstProf          B    4        4  Male   92000
21       Prof          A   33       30  Male  103106
22   AsstProf          A    4        2  Male   73000
23   AsstProf          A    2        0  Male   85000
24       Prof          A   30       23  Male   91100
25       Prof          B   35       31  Male   99418
26       Prof          A   38       19  Male  148750
27       Prof          A   45       43  Male  155865
28   AsstProf          B    7        2  Male   91300
29       Prof          B   21       20  Male  123683
30  AssocProf          B    9        7  Male  107008
31       Prof          B   22       21  Male  155750
32       Prof          A   27       19  Male  103275
33       Prof          B   18       18  Male  120000
34  AssocProf          B   12        8  Male  119800
35       Prof          B   28       23  Male  126933
36       Prof          B   45       45  Male  146856
37       Prof          A   20        8  Male  102000
38   AsstProf          B    4        3  Male   91000

In [11]:
df[['sex','phd']]

       sex  phd
0     Male   56
1     Male   12
2     Male   23
3     Male   40
4     Male   20
..     ...  ...
73  Female   18
74  Female   19
75  Female   17
76  Female   28
77  Female   23

[78 rows x 2 columns]

In [7]:
df = pd.read_csv("E:/Data Science/Salaries.csv")

In [4]:
df_sub = df[df['salary']>120000]

In [5]:
df_sub

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312

In [7]:
df['salary']>120000

0      True
1     False
2     False
3      True
4     False
      ...
73    False
74    False
75     True
76    False
77    False
Name: salary, Length: 78, dtype: bool

In [21]:
df[(df.rank=='Prof') & (df.salary<120000)]

Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

In [12]:
df.iloc[0:4,1:4]

  discipline  phd  service
0          B   56       49
1          A   12        6
2          A   23       20
3          A   40       31

In [16]:
df[(df.sex=='Male') & (df.salary<120000)]

         rank discipline  phd  service   sex  salary
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
4        Prof          B   20       18  Male  104800
6   AssocProf          A   20       17  Male   81285
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
12   AsstProf          B    1        0  Male   88000
16   AsstProf          B    8        3  Male   75044
17   AsstProf          B    4        0  Male   92000
18       Prof          A   19        7  Male  107300
20   AsstProf          B    4        4  Male   92000
21       Prof          A   33       30  Male  103106
22   AsstProf          A    4        2  Male   73000
23   AsstProf          A    2        0  Male   85000
24       Prof          A   30       23  Male   91100
25       Prof          B   35       31  Male   99418
28   AsstProf          B    7        2  Male   91300
30  AssocProf          B    9        7  Male  107008
32       Prof          A   27       19  Male  103275
34  AssocProf          B   12        8  Male  119800
37       Prof          A   20        8  Male  102000
38   AsstProf          B    4        3  Male   91000